<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf Exemplo</title>
</head>
<body>
	<form action="#" th:action="@{/usuario}" th:object="${usuario}"
		method="post">

		<input type="text" id="name" th:field="*{name}"> <input
			type="password" id="password" th:field="*{password}">
		<button type="submit">Salvar</button>
	</form>
	<h1>Lista de Usuários</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<!-- coluna onde sera mostrado o id -->
				<th>Nome da Pessoa</th>
				<!-- Coluna onde será mostrado o nome -->
				<th>Password</th>
				<!-- colina do password -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<!--  repetir o laço de repetição-->
				<td th:text="${usuario.id}"></td>
				<!-- linhas da tabela -->
				<!-- id do usuario -->
				<td th:text="${usuario.name}"></td>
				<!-- Name do usuario -->
				<td th:text="${usuario.password}"></td>
				<!-- -password do usuario -->
			</tr>
		</tbody>
	</table>
</body>
</html>